<img id="logo" src="../../assets/drmariologo.png" alt="">
<input 
    type="text" 
    id="name" 
    placeholder="Enter Initials" 
    maxlength="3" 
    required 
    autocomplete="off"
    (change)="userName(name.value)"
    #name
>
<input 
    type="number" 
    id="seconds" 
    min="1" 
    max="100" 
    max="100" 
    placeholder="Enter Seconds" 
    autocomplete="off"
    (change)="onTimer(timer.value)"
    #timer
> 

<button 
    *ngIf="gameStatus"
    id="start" 
    value="START" 
    (click)="onClick()"
>START</button>