<router-outlet></router-outlet>
<div id="grid-container">
    <img id="drmario" src="../assets/drmario.png" alt="mario">
    <app-name 
        *ngIf="gameStatus; else start"
        [gameStatus]="gameStatus" 
        (btnClick)="startGame()"
    ></app-name>
    <ng-template #start>
        <div id="game">
            <app-timer (newTimeEvent)="timeUpdate($event)" ></app-timer>
            <app-color [myColor]="myRgb" (newItemEvent)="randColor($event)"></app-color>
            <span *ngFor="let x of colors; let i = index;">
                <app-slider [num]="i" [color]="x" (newItemEvent)="colorGet($event)"></app-slider>
            </span>
            <img id="guess" src="../assets/block.png" alt="guess button" (click)="guess()">
        </div>
    </ng-template>
    <app-score [remaining]="timeLeft" [myColor]="myColor" [target]="randomColor" [time]="secondsToTimer" [end]="end"></app-score>
</div>