<router-outlet></router-outlet>
<div id="grid-container">
    <app-score></app-score>
    <img id="drmario" src="../assets/drmario.png" alt="mario">
    <app-name 
        [gameStatus]="gameStatus" 
        (btnClick)="startGame()"
    ></app-name>
    <div id="game" *ngIf="!gameStatus">
        <app-color></app-color>
        <span *ngFor="let x of colors">
            <app-slider [color]="x" (newItemEvent)="colorGet($event)"></app-slider>
        </span>
        <img id="guess" src="../assets/block.png" alt="guess button" (click)="guess()">
    </div>
</div>